.logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  .header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .header-nav .logo {
    margin-right: 93px;
  
    color: var(--cyan);
  }
  
  .span-logo {
    color: var(--black);
  }
  
  .site-nav {
    display: flex;
  }
  
  .link-nav:not(:last-child) {
    margin-right: 50px;
  }
  
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--black);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--cyan);
  }
  
  .site-nav .current {
    color: var(--cyan);
  }
  
  .current::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    bottom: 0;
  
    background-color: var(--cyan);
    border-radius: 2px;
  }
  
  .auth-nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .auth-nav .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--grey);
    fill: var(--grey4);
  
    transition: color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav .link:hover,
  .auth-nav .link:focus {
    color: var(--cyan);
    fill: var(--cyan);
  }
  
  .nav-link {
    margin-right: 50px;
  }
  
  .nav-svg {
    margin-right: 10px;
  }